@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body{
    margin: 0%;
    font-family: DM Sans;
}

.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

nav{
    display: flex;
    background-color: white;
    align-items: center;
}

.logo{
    height: 20px;
    margin-left: 100px;
}



.header-list{
    display: flex;
    margin-left: 5%;
    list-style: none;
}

li{
    margin: 0px 45px 0px 45px;
}

.header-button{
    border: #5227CC;
    border-radius: 20px;
    background-color: #5227CC;
    color: white;
    font-family: DM Sans;
    padding: 5px 15px 5px 15px;
    margin-left: auto;
    margin-right: 2rem;
}

header{
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Materiales/manos.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.p-header{
    margin-top: -1.2rem;
}



.soluciones{
    background-color: #1c78fd;
    width: 100%;
    height: 700px;
    color: white;
    display: flex;
    flex-direction: column;
}

.parte-arriba{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}

.parte-abajo{
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.texto-emp{
    margin-right: 20px;
    margin-bottom: 60px;
}

.texto-org{
    margin-left: 20px;
    margin-top: 30px;
}

.img-soluciones-emp{
    height: 250px;
    width: 600px;
    margin-right: 120px;
}
.img-soluciones-org{
    height: 250px;
    width: 600px;
    margin-left: 120px;
}

.img-sol-org{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-sol-emp{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.oportunidades{
    height: 600px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.texto-oportunidades{
    margin-top: 3rem;
}

.cuatro-cuadros{
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}

.cuadritos-vol{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #dc3545;
    color: white;
    border: solid #dc3545;
    border-radius: 1rem;
    margin: 0 10px 0 10px;

}
.cuadritos-don{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #ff9c07;
    color: white;
    border: solid #ff9c07;
    border-radius: 1rem;
    margin: 0 10px 0 10px;
}
.cuadritos-rec{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #28a745;
    color: white;
    border: solid #28a745;
    border-radius: 1rem;
    margin: 0 10px 0 10px;
}
.cuadritos-llam{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #17a2b8;
    color: white;
    border: solid #17a2b8;
    border-radius: 1rem;
    margin: 0 10px 0 10px;
}

.p-cuadrado{
    font-size: 30px;
    
}
.p-cuadrado-abajo{
    font-size: 30px;
    margin: -2rem 
}

.logos-cuadrados{
    height: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.texto-cuadraditos{
    margin-right: 5rem;
}

.noticias{
    background-color: #1c78fd;
    width: 100%;
    height: 700px;
    color: white;
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

.titulo-noticias{
    font-size: 40px;
    margin-top: 70px;
}

.tit-not{
    height: 25%;
    text-align: center;
}

h6{
    margin-top: -30px;
}

a{
    color: white;
}

.cuadros-noticias{
    height: 650px;
    display: flex;
    justify-content: center;
    
}

.cuad-not-1{
    min-width: 250px;
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}
.cuad-not-2{
    min-width: 250px;
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}
.cuad-not-3{
    min-width: 250px;
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}
.cuad-not-4{
    min-width: 250px;
    width: 300px;
    height: 400px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}


.cuad-img-not{
    height: 40%;
    border-radius: 5px;
}

.imagen-noticia{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.text-not{
    height: 60%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.ico-not{
    color: black;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.art-noticia{
    width: 100%;
    color: black;
    margin: 10px;
}

h3{
    margin-top: 0px;
    margin-right: 10px;
}

.parrafo-art{
    font-size: smaller;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.calendario{
    margin-left: 10px;
}

.reloj{
    margin-left: auto;
    margin-right: 10px;
}

.tiempo-not{
    margin-right: 10px;
}

.ver-mas{
    display: flex;
    min-width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
}

.flecha{
    margin-right: 15px;
    
}
.mas-info{
    margin-right: 30px;
    
}




.contacto{
    height: 600px;
    min-width: 100%;
    background-color: white;
    display: flex;
}

.parte-izq-con{
    height: 100%;
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.imagen-laptop{
    height: 250px;
    width: 600px;
}

.img-contacto{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: -3.5rem;
}

.datos-contacto{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    
}

.inputs{
    display: flex;
    align-self: flex-start;
    margin-left: 20px;
}


textarea{
    height: 75px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.titulo-contacto{
    font-size: 50px;
    margin-right: 290px;
}


.boton-enviar{
    border: #5227CC;
    border-radius: 20px;
    background-color: #5227CC;
    color: white;
    font-family: DM Sans;
    padding: 5px 15px 5px 15px;
    width: 5vw;
    margin-top: 30px;
    margin-right: 290px;
}

.input-chico{
    width: 15vw;
    border: 1px solid #ccc;
  border-radius: 4px;
}

.texto-dato{
    margin-right: 20px;
}


.p-texto-dato{
    margin-bottom:-2px ;
}


footer{
    background-color: #7749f8;
    display: flex;
    color: white;
    height: 200px;
    width: 100%;
}

.redes{
    margin-left: 50vw;
}

.footer-list{
    list-style: none;
}

.logo-blanco{
    margin-left: 10rem;
    margin-top: 1.5rem;
}

.para-bordes{
    display: flex;
    margin-top: 5px;
    height: 80%;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-items: flex-start;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  
  .modal-content {
      display: flex;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 65%;
    height: 80%;
    background-size: cover;
    border-radius: 20px;
  }

  .modal-izq{
      height: 100%;
      width: 50%;
      background-image: url(materiales/imagen-modal.JPG);
        background-size: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
  .modal-der{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #fefefe;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.modal-der-arriba{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.modal-der-abajo{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


.titulo-modal{
    align-self: center;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 30px;
    align-self: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.cuadro-emp{
    display: flex;
    height: 30%;
    width: 85%;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    box-shadow: rgb(182, 182, 182) 2px 2px 2px 2px;
}

.ico-emp{
    width: 20%;
    height: 100%;
    background-color: #1c78fd;
    border-start-start-radius:  10px;
    border-end-start-radius:  10px;
}

.texto-ico-emp{
    margin-left: 20px;
}

.sub-emp-2{
    margin-top: -10px;
}
.cuadro-org{
    display: flex;
    height: 30%;
    width: 85%;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    box-shadow: rgb(182, 182, 182) 2px 2px 2px 2px;
}

.ico-org{
    width: 20%;
    height: 100%;
    background-color: #5227CC;
    border-start-start-radius:  10px;
    border-end-start-radius:  10px;
    
}

.texto-ico-org{
    margin-left: 20px;
}

.sub-org-2{
    margin-top: -10px;
}

.titulo-org{
    color: #5227CC;
}
.titulo-emp{
    color: #1c78fd;
}

.ico-org{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico-emp{
    display: flex;
    justify-content: center;
    align-items: center;    
}


@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 

.header-list{
    display: none;
}

.logo {
    margin: 20%;
    height: 20px;
}

.soluciones{
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.parte-arriba{
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 0 0;
}

.parte-abajo{
    height: 50%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 0 0;
}

.texto-emp{
    margin: 0 0 0 0;
}

.texto-org{
    margin: 0 0 0 0;
}

.oportunidades{
    height: 1700px;
}

.cuatro-cuadros{
    flex-direction: column;
    align-items: center;
}

.cuadritos-vol{
    margin: 10px;
}
.cuadritos-don{
    margin: 10px;
}
.cuadritos-rec{
    margin: 10px;
}
.cuadritos-llam{
    margin: 10px;
}

.cuad-not-1{
    display: none;
}

.cuad-not-2{
    height: 80%;
    width: 90%;
}

.cuad-not-3{
    display: none;
}
.cuad-not-4{
    display: none;
}

.titulo-noticias{
    margin-top: 85px;
}

.noticias{
    height: 760px;
}

.parte-izq-con{
    display: none;
}

.titulo-contacto{
    margin-right: 0px;
}

.datos-contacto{
    width: 100%;;
}
textarea{
    width: 175px;
}

.input-chico{
    width: 34vw;
}

.boton-enviar{
    width: 22vw;
    margin-right: 0px;
}

.logo-blanco{
    margin-left: 2rem
}

.img-soluciones-org {
    height: 250px;
    width: 370px;
    margin-left: 0px; 
}
.img-soluciones-emp {
    height: 250px;
    width: 370px;
    margin-right: 0px; 
}

.modal-content{
    margin-right: 260px;
    height: 600px;
    width: 360px;
}

.modal-izq{
    display: none;
}

.modal-der{
    border-radius: 20px;
    width: 100%;
}
.sub-emp-2 {
    margin-top: -17px;
}
h3 {
    margin-top: -16px;
    }

}